BLOG_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
BLOG_DATASOURCE_USERNAME=root
BLOG_DATASOURCE_PASSWORD=root
BLOG_IMAGE_STORAGE_DIRECTORY=~/data/images
BLOG_IMAGE_CLEANUP_FIXED_DELAY_MS=60000
BLOG_IMAGE_CLEANUP_INITIAL_DELAY_MS=60000
BLOG_IMAGE_CLEANUP_BATCH_SIZE=100
BLOG_IMAGE_CLEANUP_MAX_BATCHES_PER_RUN=10
